@import url('https://fonts.googleapis.com/css?family=Lato:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:Condensed');

h1 {
    font-size: 40px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 20px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

body {
    background: #f6f6f6;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.en-tete{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 260px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.buttonA {
    width: 530px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #2c2f33;
    color: #fff;
    background-color: #2c2f33;
}

.buttonA:hover {
    color: #2c2f33;
    background-color: transparent;
    transition: 0.6s;
}

.buttonB {
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #2c2f33;
    color: #2c2f33;
    background-color: #f6f6f6;
}

.buttonB:hover {
    color: #fff;
    background-color: #2c2f33;
    transition: 0.6s;
}

.buttonC {
    margin-bottom: 10px;
    margin-left: 5px;
    border: 1px solid #2c2f33;
    color: #2c2f33;
    background-color: #f6f6f6;
}

.buttonC:hover {
    color: #fff;
    background-color: #2c2f33;
    transition: 0.6s;
}

.contact {
    line-height: 50px;
    margin-left: 0%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
}

.buttonSubmit {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #2c2f33;
    background-color: transparent;
    color: #2c2f33;
}

.buttonSubmit:hover {
    background-color: #2c2f33;
    color: #fff;
    transition: 0.6s;
}

div.input_field {
    margin-top: 10px;
}

.input {
    height: 25px;
    width: 100%;
    margin-bottom: 5px;
}

#message {
    width: 100%;
    height: auto;
}

.container {
    width: 33%;
    margin-top: 50px;
    color: #2c2f33;
    background-color: #fff;
    padding: 40px 50px 40px 50px;
    box-shadow: 0 5px 10px #2c2f333f;
}
.containerCV {
    max-width: 950px;
    width: 100%;
    background: #fff;
    padding: 40px 50px 40px 50px;
    margin: 0 20px;
    margin-top: 25px;
    box-shadow: 0 5px 10px #2c2f333f;
}

.containerCV .main{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerCV .topic{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content .menuList {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
}

.content .menuList label {
    height: 50px;
    font-size: 18x;
    line-height: 50px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.6s ease;
    background-color: #fff;
    color: #2c2f33;
    z-index: 12;
}

::selection{
    background: #2c2f33;
    color: #fff;
}

.containerCV .slider{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background: #2c2f33;
    transition: all 0.6s ease;
}

#informations:checked ~ .menuList label.informations,
#associations:checked ~ .menuList label.associations,
#projects:checked ~ .menuList label.projects,
#formations:checked ~ .menuList label.formations,
#competences:checked ~ .menuList label.competences,
#experiences:checked ~ .menuList label.experiences {
  color: #fff;
  background-color: #2c2f33;
}

#informations:checked ~ .menuList .slider{
    top: 0;
}
#associations:checked ~ .menuList .slider{
    top: 50px;
}
#projects:checked ~ .menuList .slider{
    top: 100px;
}
#formations:checked ~ .menuList .slider{
    top: 150px;
}
#competences:checked ~ .menuList .slider{
    top: 200px;
}
#experiences:checked ~ .menuList .slider{
    top: 250px;
}

.content .menuList label:hover {
    background-color: #2c2f33;
    color: #fff;
}

.content .text-content{
    width: 80%;
    height: 100%;
}

.content .text{
    display: none;
}
  
.content .text .title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
  
.content .text p{
    color: #2c2f33;
    text-align: justify;
}
  
.content .text-content .informations{
    display: block;
}
  
#informations:checked ~ .text-content .informations,
#associations:checked ~ .text-content .associations,
#projects:checked ~ .text-content .projects,
#formations:checked ~ .text-content .formations,
#competences:checked ~ .text-content .competences,
#experiences:checked ~ .text-content .experiences{
    display: block;
}

#associations:checked ~ .text-content .informations,
#projects:checked ~ .text-content .informations,
#formations:checked ~ .text-content .informations,
#competences:checked ~ .text-content .informations,
#experiences:checked ~ .text-content .informations{
    display: none;
}

.content input{
    display: none;
}

img.icone {
    position: relative;
    width: 36px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: -10px;
}

img.icone_social {
    position: relative;
    width: 18px;
    vertical-align: text-top;
    margin-right: 10px;
    margin-left: -10px;
}

img.photoCV {
    position: relative;
    width: 125px;
    margin-top: 25px;
    margin-bottom: -10px;
    border-radius: 1px;
    border: 6px solid #fff;
    box-shadow: 0 5px 10px #2c2f333f;
}

hr {
    color: #2c2f33;
    margin-bottom: 50px;
}

.hrC {
    color: #2c2f33;
    margin-bottom: 25px;
}

.social {
    display:inline;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 12px;
    color: #2c2f33;
    border: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}